---
import H1 from "../components/H1.astro";
import Main from "../components/Main.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="My Notes | About">
  <Main>
    <H1 text="About Notes"></H1>
    <p>This is a collection of notes to help keep track of not only software development topics but other areas of life that I am routinely searching for the right technique on how to do something.</p>
  </Main>
</Layout>